{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h1 class="container-fluid text-black text-center font-weight-bold mt-5 mb-5 pt-5">Contact Us</h1>

    <form method="post" class="text-center text-black font-weight-bold">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="text-center submit-btn">Submit</button>
    </form>

{% endblock %}
