{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <br>
            <h2 class="display-4 logo-font text-black text-black">
                Tea Journey
            </h2>
            <p class="text-white bg-black introduction py-3">Welcome to our <strong>Catch Your Tea</strong>
                online store. If you like drinking healthy and unusual teas, you are in the right place.
                Our wide range of black, green and white teas comes from proven crops in China.
                Each has a unique taste and benefits that are good for your health. Buy for you or as a gift.<br>
                Enjoy your shopping!</p>
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                    Now</a>
            </h4>
        </div>
    </div>
</div>
</div>
{% endblock %}