{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 my-sm-1, my-md-5 my-lg-5 my-xl-5">
    <div class="row h-100">
        <div class="col-8 col-md-7 my-auto text-white bg-black text-center">
            <br>
            <h2 class="display-4 logo-font">
                About Range of Teas</h2>
            <div class="introduction">Welcome to our <strong class="introduction-name">Catch Your Tea</strong>
                online store. If you like drinking healthy and unusual teas, our shop is the right place
                for you. Our wide range of black, green and white teas comes from proven crops in China.
                Each has a unique taste and benefits that are good for your health. Buy for yourself or
                give someone a gift.<br>
                Enjoy your shopping!</div>
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                    Now</a>
            </h4>
        </div>
    </div>
</div>


<footer>
    asgdjhagdjaskjd sfsefes esfs faea
</footer>




{% endblock %}