{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<h1 class="text-center text-black font-weight-bold">My Wishlist</h1>
<br>
<div class="wishlist-container">
    {% if request.user.is_authenticated %}
    {% if products %}
    <ul class="wishlist-style">
        {% for product in products %}
        <li>
            <div>
                <div class="wishlist-form text-center">
                <h2 class="text-black text-center">{{ product.name }}</h2>
                <p class="col-12 text-black font-weight-bold">{{ product.description }}</p>
                <p class="text-black font-weight-bold">Price for 50 gram: €{{ product.price }}</p>
                </div>
                <form class="text-center" action="{% url 'remove_from_wishlist' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="border-black">Remove from Wishlist</button>
                </form>
                <br>
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-black">Your wishlist is empty.</p>
    {% endif %}
    {% else %}
    <p>You need to <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">register</a> to view your
        wishlist.</p>
    {% endif %}
</div>

{% endblock %}
