{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h1>My Wishlist</h1>

    <div class="wishlist-container">
        {% if teas %}
            <ul>
                {% for tea in teas %}
                    <li>
                        <h3>{{ tea.name }}</h3>
                        <p>{{ tea.description }}</p>
                        <form action="{% url 'remove_from_wishlist' tea.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Remove from Wishlist</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your wishlist is empty.</p>
        {% endif %}
    </div>

{% endblock %}
