{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Testimonial</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'testimonials:testimonial_list' %}">Back to list</a>
{% else %}
    <p>You must be <a href="{% url 'login' %}">logged in</a> to add a testimonial.</p>
    <a href="{% url 'testimonials:testimonial_list' %}">Back to list</a>
{% endif %}

{% endblock %}
