{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h1>Delete Testimonial</h1>
    <p>Are you sure you want to delete "{{ testimonial.content }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'testimonials:testimonial_list' %}">Back to list</a>

{% endblock %}
