{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Edit Testimonial</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% else %}
<p>You must be <a href="{% url 'login' %}">logged in</a> to edit a testimonial.</p>
{% endif %}
<a href="{% url 'testimonials:testimonial_list' %}" class="text-black font-weight-bold">Back to list</a>

{% endblock %}