{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h1>Testimonials</h1>
    <a href="{% url 'testimonials:add_testimonial' %}">Add Testimonial</a>
    <ul>
        {% for testimonial in testimonials %}
        <div class="testimonial-item">
            
                <strong>{{ testimonial.name }}</strong> - {{ testimonial.product }}<br>
                {{ testimonial.message }}<br>
                Rating: {{ testimonial.rating }}<br>
                <a href="{% url 'testimonials:edit_testimonial' testimonial.pk %}">Edit</a> |
                <a href="{% url 'testimonials:delete_testimonial' testimonial.pk %}">Delete</a>
            
        </div> 
        {% empty %}
            <li>No testimonials yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
