{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<h1 class="text-center link-add-testimonial underline mt-3 mt-lg-5 mb-3 mb-lg-5 pt-3 pt-lg-5">
    {% if user.is_authenticated %}
    <a href="{% url 'testimonials:add_testimonial' %}" class="text-black font-weight-bold">Add Testimonial</a>
    {% else %}
    <a href="{% url 'account_login' %}?next={% url 'testimonials:add_testimonial' %}" class="text-black">Add
        Testimonial</a>
    {% endif %}
</h1>
<br>
<div class="wishlist-container text-center">
    <ul class="testimonial_item-style list-unstyled">
        {% for testimonial in testimonials %}
        <li>
            <div>
                <div class="testimonial-item-form bg-black text-center">
                    <p class="text-white font-weight-bold"><strong>{{ testimonial.name }}</strong></p>
                    <p class="testimonial-product-name-style text-white">{{ testimonial.product.name }}</p>
                    <p class="text-warning">{{ testimonial.message }}</p>
                    <p class="text-white">Rating: {{ testimonial.rating }}</p>
                    <p class="text-white">Date: {{ testimonial.created_at|date:"D, M d, Y" }}</p>
                    {% if user == testimonial.user or user.is_superuser %}
                    <a href="{% url 'testimonials:edit_testimonial' testimonial.pk %}" class="text-success">Edit</a> |
                    <a href="{% url 'testimonials:delete_testimonial' testimonial.pk %}" class="text-danger">Delete</a>
                    {% endif %}
                </div>
                <br>
            </div>
        </li>
        {% empty %}
        <li>No testimonials yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}