
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blacktea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Black Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blacktea-link">
                <a href="" class="dropdown-item">Ceylon</a>
                <a href="" class="dropdown-item">Earl Gray</a>
                <a href="" class="dropdown-item">Yunnan</a>
                <a href="" class="dropdown-item">All Black Tea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="greentea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Green Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="greentea-link">
                <a href="" class="dropdown-item">Pure Green Tea</a>
                <a href="" class="dropdown-item">Green Tea with Mango</a>
                <a href="" class="dropdown-item">Green Tea with Jasmine</a>
                <a href="" class="dropdown-item">All Green Tea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="whitetea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whitetey-link">
                <a href="" class="dropdown-item">Pure White</a>
                <a href="" class="dropdown-item">White with Mango</a>
                <a href="" class="dropdown-item">White with Lemongrass</a>
                <a href="" class="dropdown-item">All White Tea</a>
            </div>
        </li>
    </ul>
</div>
