
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blacktea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Black Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blacktea-link">
                <a href="{% url 'products' %}?category=ceylon" class="dropdown-item">Ceylon</a>
                <a href="{% url 'products' %}?category=earl_grey" class="dropdown-item">Earl Grey</a>
                <a href="{% url 'products' %}?category=yunnan" class="dropdown-item">Yunnan</a>
                <a href="{% url 'products' %}?category=ceylon,earl_grey,yunnan" class="dropdown-item">All Black Tea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="greentea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Green Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="greentea-link">
                <a href="{% url 'products' %}?category=pure_green_tea" class="dropdown-item">Pure Green Tea</a>
                <a href="{% url 'products' %}?category=green_tea_with_mango" class="dropdown-item">Green Tea with Mango</a>
                <a href="{% url 'products' %}?category=green_tea_with_jasmine" class="dropdown-item">Green Tea with Jasmine</a>
                <a href="{% url 'products' %}?category=pure_green_tea,green_tea_with_mango,green_tea_with_jasmine" class="dropdown-item">All Green Tea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="whitetea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whitetea-link">
                <a href="{% url 'products' %}?category=pure_white" class="dropdown-item">Pure White</a>
                <a href="{% url 'products' %}?category=white_with_mango" class="dropdown-item">White with Mango</a>
                <a href="{% url 'products' %}?category=white_with_lemongrass" class="dropdown-item">White with Lemongrass</a>
                <a href="{% url 'products' %}?category=pure_white,white_with_mango,white_with_lemongrass" class="dropdown-item">All White Tea</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-success mr-5" href="{% url 'contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-success mr-5" href="{% url 'testimonials:testimonial_list' %}" id="testimonials-link" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>
